.titulo1{
    color: #0a2ff1;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 66.7px;
}

.div{
    color: #eff2ff;
}
.titulo2{

    color: hsla(230, 92%, 49%, 0.719);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
}
h3{
    color:black
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;

}
.span{
    color: #0a2ff1;
}

img{ width: 30%;}{
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;

}